.card-container {
  height: 250px;
  width: 33.3%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-body {
  height: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.job-rating {
  text-align: right;
  margin-right: 5px;
  font-size: 14px;
  color: green;
  font-weight: bold;
}

.card-image {
  height: 50px;
  width: 1/3;
  padding-right: 15px;
}

.card-body-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.board-description {
  width: 2/3;
  text-align: left;
  font-size: 13px;
}